body {
    margin: 0;
}
.section-1 {
    margin: 0;
    padding: 0;
    background-color: #1f2937;
}
header {
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    align-items: center;
    margin-left: 150px;
    font-size: 24px;
    color: #f9faf8;
}
.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    margin-right: 150px;    
}
.hero {
    display: flex;
}
.hero-img {
    max-width: 500px;
    min-width: 500px;
    max-height: 230px;
    margin-right: 150px;
    padding-right: 12px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.hero-right-align {
    justify-content: flex-end;
    margin-left: auto;
}
.hero-left-align {
    justify-content: flex-start;
    margin-left: 150px;
}  
h1 {
    flex-wrap: wrap;
    max-width: 300px;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    margin-top: 150px;
    color: #f9faf8;
}   
.hero-p {
    flex-wrap: wrap;
    max-width: 420px;
    font-size: 18px;
    color: #e5e7eb;
    text-align: left;
    margin: 0;
    padding-bottom: 15px;
}
.button {
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 8px;
    padding: 5px 30px;
    font-size: 18px;
}
.links {
    padding: 12px;
}
a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
.img-section {
    display: flex;
    justify-content: center;   
}
h2 {
    text-align: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}
.img {
    margin: 20px;
    max-height: 165px;
    border: 5px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 18px;
}
.text {
    font-size: 18px;
    color: #1f2937;
    margin-left: 25.1795px;
    text-align: center;
    flex-wrap: wrap;
    max-width: 165px;
}
.section-3 {
    background-color: #e5e7eb;
}
.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 130px;
}
.quote-p {
    font-size: 36px;
    font-weight: lighter;
    color: #1f2937;
    font-style: italic;
    flex-wrap: wrap;
    max-width: 800px;
    margin-bottom: 0;
    text-align: left;
}
.credit {
    margin-left: auto;
    padding-right: 170px;
    padding-bottom: 36px;
    font-size: 24px;
    font-weight: 600;
    color: #1f2937;
}
.section-4 {
    background-color: none;
}
#cta-container {
    display: flex;
    background-color: #3882f6; 
    border-radius: 8px; 
    margin: 80px 150px;
    padding: 40px 90px;
}
h4 {
   color: #f9faf8; 
   justify-content: flex-start;
   align-items: center;
   margin: 0;
   font-size: 1.3rem;
}
.signup {
    color: #f9faf8;
    font-size: 18px;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
}
.button-2 {
    background-color: #3882f6;
    border-style: solid;
    border-width: 2px;
    border-color: #f9faf8;
    border-radius: 8px;
    padding: 5px 30px;
    font-size: 18px;
    margin-left: 250px;
    flex-shrink: 0;
}
.lhs { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.rhs {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 10px;
    font-size: 18px;

}