body {
    margin: 0;
}

.section-1 {
    margin: 0;
    padding: 0;
    background-color: #1f2937;
}

header {
    display: flex;
    justify-content: flex-start;
    margin-left: 150px;
    padding-top: 20px;
    font-size: 24px;
    font
    color: #f9faf8;
}

.header-links {
    
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}